<!--
<div>Coffee List is inside the module</div>
<input type="text" (change)="setUserName($event)"  [value]="newName"/>
<button (click)="addUsers()">Add</button>

<div *ngFor="let coffeebrand of testCoffeeList">
  {{ coffeebrand }}
</div>

<div *ngIf="coffList != undefined">
  <div>Show them</div>

  <div *ngFor="let coffeeObj of coffList">
    {{ coffeeObj.id }} is {{ coffeeObj.name }} of type {{coffeeObj.type }}
    <span (click)="removeUser(coffeeObj.id)">remove</span>
    <span (click)="removeUserParent.emit(coffeeObj.id)">remove</span>
  </div>

</div>


{{ testCoffee }}

-->

<!--
<div *ngIf="realCoffeeList != undefined">
  <div>Show them</div>

  <div *ngFor="let realCoffeeObj of realCoffeeList">
    <div style="display: block">
      <h4>Coffee item</h4>
      <div>id: {{realCoffeeObj.id}}</div>
      <div>uid: {{realCoffeeObj.uid}}</div>
      <div>blend_name: {{realCoffeeObj.blend_name}}</div>
      <div>origin: {{realCoffeeObj.origin}}</div>
      <div>variety: {{realCoffeeObj.variety}}</div>
      <div>notes: {{realCoffeeObj.notes}}</div>
      <div>intensifier: {{realCoffeeObj.intensifier}}</div>
    </div>
  </div>

</div>
-->

<div *ngIf="isLoading$ | async">Loading...</div>
<div class="container">
  <div class="row">
    <ng-container *ngIf="coffees$ | async">
      <ng-container *ngFor="let co of coffees$ | async">
        <div class="col-xl-4">
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Coffee item</h6>
            </div>
            <div class="card-body">
              <div>id: {{co.id}}</div>
              <div>uid: {{co.uid}}</div>
              <div>blend_name: {{co.blend_name}}</div>
              <div>origin: {{co.origin}}</div>
              <div>variety: {{co.variety}}</div>
              <div>notes: {{co.notes}}</div>
              <div>intensifier: {{co.intensifier}}</div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
